:root {
	--text-norm: #9FC;
	--text-highlight: #FD9;
	--text-less-highlight: #DB7;
	--text-more-highlight: #FFF;
	--text-alt: #9CF;
	--body-bg: #112;
	--body-alt-bg: #121;
	--logo-text: #C5F;
	--html-bg: #100;

	--image-x: 200px;
}

html {
	z-index: 1;

	background-color: var(--html-bg);
	color: var(--text-norm);

	font-family: "Fira Sans";
	font-size: 14pt;
	line-height: 1.5rem;
	font-variant-numeric: tabular-nums;
}

html * {
	box-sizing: border-box;
}

body {
	background-color: var(--body-bg);
	margin-left: 0px;
	margin-right: auto;

	max-width: 250mm; /*Approx. 10in, ideally.*/
	padding: 10mm;

	border: #FFF 12px ridge;
	border-top: none;
}

input, button {
	display: block;
	color: var(--text-highlight);
	background-color: #000;
	border: 1px solid #FFF;
	padding: 1mm 2mm;
	max-width: 100%;

	font-family: "Fira Mono";
	font-size: 1rem;
}

a {
	color: var(--text-highlight);
}

a:focus, a:hover, a:active {
	color: var(--text-more-highlight);
}


img:not(#header-img) {
  border: 2px dotted var(--text-alt);
}

@media screen and (max-width: 960) {
	input {
		border-width: 2px;
	}
}

#display {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#display figure {
  width: var(--image-x);
}

#header {
	max-width: 250mm;
	z-index: 0;
	position: fixed;
	top: 0mm;
	left: 0mm;
	width: 100%;
	display: flex;
	align-items: center;

	background-color: var(--html-bg);
	border: 12px ridge #FFF;
	border-bottom: 1px solid #fff;
}

nav li {
	list-style-type: none;
	display: inline;
	padding: 3mm;
}