<head>
	<!--
		INTERNAL DOCUMENTATION:
		-	File: @FILENAME
		-	Author: Isaac N. Erb.
		-	Date Created: @DATE
	-->

	<meta charset="utf-8">
	<meta name="viewport" content="match-device-width">

	<link href="styles/omnistyler.css" rel="stylesheet">
	<link href="images/lrc-favicon.png?" type="x-icon" rel="shortcut icon">

	<title>Isaac Erb's Lil'RoboCo: @TABNAME</title>

	<script src="scripts/@SCRIPT"></script>
	<script src="https://lint.page/kit/67ff88.js" crossorigin="anonymous"></script>
</head>