<footer>
	<p>&copy;22087 by Lilith RoboticsCorp.</p>
	<img src="Images/logo.png" alt="Logo for Lilith RoboticsCorp">
	<p>Web-Support: <a href="mailto:ierb0000@email.cpcc.edu">ierb0000@email.cpcc.edu</a></p>
	<p>Fira Sans and Fira Mono fonts used under SIL Open Font License v1.1.<p>

	<nav id="foot-links">
		<ul>
			<li><a href="https://github.com/IsaacErb-CPCC" target="_blank">GitHub</a></li>
			<li><a href="https://isaacerb-cpcc.github.io" target="_blank">GitHub.io</a></li>
			<li><a href="https://isaacerb-cpcc.github.io/web115/index.html" target="_blank">WEB115.io</a></li>
			<li><a href="https://www.freecodecamp.org/IsaacErb-CPCC" target="_blank">freeCodeCamp</a></li>
			<li><a href="https://www.codecademy.com/profiles/IsaacErb-CPCC" target="_blank">Codeacademy</a></li>
			<li><a href="https://jsfiddle.net/u/IsaacErb_CPCC/fiddles/" target="_blank">JSFiddle</a></li>
			<li><a href="https://www.linkedin.com/in/isaac-erb-528630327/" target="_blank">LinkedIn</a></li>
		</ul>
	</nav>
</footer>