<hr>
<footer>
	<h2 id="logo">Lil'RoboCo</h2>

	<nav id="foot-links">
		<ul>
			<li><a href="https://github.com/IsaacErb-CPCC" target="_blank" class="nav-link">GitHub</a></li>
			<li><a href="https://isaacerb-cpcc.github.io" class="nav-link">GitHub.io</a></li>
			<li><a href="https://isaacerb-cpcc.github.io/web115/index.html" class="nav-link">WEB115.io</a></li>
			<li><a href="https://www.freecodecamp.org/IsaacErb-CPCC" target="_blank" class="nav-link">freeCodeCamp</a></li>
			<li><a href="https://www.codecademy.com/profiles/IsaacErb-CPCC" target="_blank" class="nav-link">Codeacademy</a></li>
			<li><a href="https://jsfiddle.net/u/IsaacErb_CPCC/fiddles/" target="_blank" class="nav-link">JSFiddle</a></li>
			<li><a href="https://www.linkedin.com/in/isaac-erb-528630327/" target="_blank" class="nav-link">LinkedIn</a></li>
		</ul>
	</nav>

		<p>Fira Sans and Fira Mono fonts used under SIL Open Font License v1.1.<p>

		<p>Web-Support: <a href="mailto:ierb0000@email.cpcc.edu">ierb0000@email.cpcc.edu</a></p>

		<p>&copy;12052 by Lilith RoboticsCorp.</p>
	</footer>