<script src="scripts/dropdowns.js" defer="true"></script>
<header>
	<h1>Isaac Erb's Lil'RoboCo</h1>

	<nav>
		<div id="header-navlinks">
			<!-- <ul>
				<li><a href="home.html" class="nav-link">Home</a></li>
				<li><a href="contract.html" class="nav-link">Contract</a></li>
				<li><a href="introductions.html" class="nav-link">Introduction</a></li>
				<li><a href="brand.html" class="nav-link">Branding</a></li>
				<li><a href="m3-code-output.html" class="nav-link">M3 Codeplay</a></li>
			</ul> -->
			<button onclick="swapMain('IsaacErb-CPCC.github.io/web115/home.html')">Home</button>
			<button onclick="swapMain('IsaacErb-CPCC.github.io/web115/contract.html')">Contract</button>
			<button onclick="swapMain('IsaacErb-CPCC.github.io/web115/introductions.html')">Introduction</button>
			<button onclick="swapMain('IsaacErb-CPCC.github.io/web115/brand.html')">Branding</button>
			<button onclick="swapMain('IsaacErb-CPCC.github.io/web115/m3-code-output.html')">M3 Codeplay</button>
		</div>

		<div class="drop-button-box" id="header-drops">
			<button onclick="FIZZ_DROP.toggleMenu()" type="button" class="drop-button" id="fizz-drop">FizzBuzz <span  class="symbol">_</span></button>
			<div class="drop-content-box" id="fizzbuzz-links">
				<ul>
					<li><a href="fizzbuzz0.html" class="nav-link">FizzBuzz 0</a></li>
					<li><a href="fizzbuzz1.html" class="nav-link">FizzBuzz 1</a></li>
					<li><a href="fizzbuzz2.html" class="nav-link">FizzBuzz 2</a></li>
					<li><a href="fizzbuzz3.html" class="nav-link">FizzBuzz 3</a></li>
					<li><a href="fizzbuzz4.html" class="nav-link">FizzBuzz 4</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<hr>