<header>
	<h1>Isaac Erb's Lil'RoboCo</h1>

	<nav>
		<div id="header-navlinks">
			<button class="content-button" onclick="swapMainContents('home.html')">Home</button>
			<button class="content-button" onclick="swapMainContents('contract.html')">Contract</button>
			<button class="content-button" onclick="swapMainContents('introductions.html')">Introduction</button>
			<button class="content-button" onclick="swapMainContents('brand.html')">Branding</button>
			<button class="content-button" onclick="swapMainContents('m3-code-output.html')">M3 Codeplay</button>
		</div>

		<div class="drop-button-box" id="header-drops">
			<button onclick="FIZZ_DROP.toggleMenu()" type="button" class="drop-button" id="fizz-drop">FizzBuzz <span  class="symbol">_</span></button>
			<div class="drop-content-box" id="fizzbuzz-links">
				<ul>
					<li><button class="content-button" onclick="swapMainContents('fizzbuzz0.html')">FizzBuzz 0</button></li>
					<li><button class="content-button" onclick="swapMainContents('fizzbuzz1.html')">FizzBuzz 1</button></li>
					<li><button class="content-button" onclick="swapMainContents('fizzbuzz2.html')">FizzBuzz 2</button></li>
					<li><button class="content-button" onclick="swapMainContents('fizzbuzz3.html')">FizzBuzz 3</button></li>
					<li><button class="content-button" onclick="swapMainContents('fizzbuzz4.html')">FizzBuzz 4</button></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<hr>