@charset "utf-8";

* {
	font-family: "Noto Sans", "Noto Sans Symbols";
	font-size: 24px;
}

html {
	background-color: #CCD;
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	margin: auto;
	border-radius: 1mm;
	border: 3px solid #000;
	background-color: #8FA;
	color: #002;
	padding: 3mm;
}

body * {
	display: block;
	margin-left: auto; margin-right: auto;
  text-align: center;
}

input {
	max-width: 80%;
}

button {
	font-weight: bold;
}