@charset "utf-8";

* {
	font-family: Kanit;
	font-size: 18px;
}

html {
	background-color: #EEE;
}

body {
	width: fit-content;
	margin: auto;
	border-radius: 1mm;
	border: 3px solid #222;
	background-color: #AAF;
	color: #200;
}

body * {
	display: block;
	margin-left: auto; margin-right: auto;
  text-align: center;
}