html {
	background-color: #9DA;
}

body {
	width: fit-content;
	margin-left: auto; margin-right: auto;
}

body * {
	font-family: Lekton;
	font-size: 14pt;
	font-weight: bold;
	color: #EFE;
}

#internal {
	border: 4px outset #446;
	display: flex;
	flex-flow: row wrap;
	max-width: 22cm;
	min-width: 12cm;
	min-height: fit-content;
	max-height: 60%;
	margin-top: 4mm;

	background-color: #223;
}

#internal div {
	box-sizing: border-box;
	width: 42%;
	margin: 5mm 4%;
	background-color: #000;
}

#purchase-btn {
	width: fit-content;
	height: 7mm;
  margin-top: 3mm;
}

#buttons {
  display: flex;
	justify-content: center;
}

button, input {
	border: 1px solid #FFF;
}

label, button, input {
	background-color: #223;
}html {
	background-color: #9DA;
}

body {
	width: fit-content;
	margin-left: auto; margin-right: auto;
}

body * {
	font-family: Lekton;
	font-size: 14pt;
	font-weight: bold;
	color: #EFE;
}

#internal {
	border: 4px outset #446;
	display: flex;
	flex-flow: row wrap;
	max-width: 22cm;
	min-width: 12cm;
	min-height: fit-content;
	max-height: 60%;
	margin-top: 4mm;

	background-color: #223;
}

#internal div {
	box-sizing: border-box;
	width: 42%;
	margin: 5mm 4%;
	background-color: #000;
}

#purchase-btn {
	width: fit-content;
	height: 7mm;
  margin-top: 3mm;
}

#buttons {
  display: flex;
	justify-content: center;
}

button, input {
	border: 1px solid #FFF;
}

label, button, input {
	background-color: #223;
}