<head>
	<!--
		INTERNAL DOCUMENTATION:
		-	File: @FILENAME
		-	Author: Isaac N. Erb.
		-	Date Created: @DATE
	-->

	<meta charset="utf-8">
	<meta name="viewport" content="match-device-width">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500;700&display=swap" rel="stylesheet">

	<link href="styles/omnistyler.css" rel="stylesheet">
	<link href="images/lrc-favicon.png?" type="x-icon" rel="shortcut icon">

	<title>Isaac Erb's Lil'RoboCo</title>

	<script src="scripts/dropdowns.js" defer="true"></script>
	<script src="scripts/main-swap.js" defer="true"></script>
	<script src="scripts/@SCRIPT"></script>
	<script src="https://lint.page/kit/67ff88.js" crossorigin="anonymous"></script>
</head>