@charset "utf8";

@font-face {
	font-family: FiraMono;
	src: url("../Fonts/fira-mono/FiraMono-Medium.woff2") format("woff2");
	font-weight: normal;
}

@font-face {
	font-family: FiraMono;
	src: url("../Fonts/fira-mono/FiraMono-Bold.woff2") format("woff2");
	font-weight: bold;
}

.code-bg {
	display: block;
	background-color: #121;
	color: #9DF;
}

code {
	font-family: FiraMono;
}

.input {
	font-weight: bold;
}

.output::before {
	content: "\00BB\0020"
}