@font-face {
	font-family: FiraSans;
	src: url('../fonts/FiraSans/FiraSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: FiraSans;
	src: url('../fonts/FiraSans/FiraSans-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: FiraSans;
	src: url('../fonts/FiraSans/FiraSans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: FiraSans;
	src: url('../fonts/FiraSans/FiraSans-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: FiraMono;
	src: url("../fonts/fira-mono/FiraMono-Medium.woff2") format("woff2");
	font-weight: normal;
}

@font-face {
	font-family: FiraMono;
	src: url("../fonts/fira-mono/FiraMono-Bold.woff2") format("woff2");
	font-weight: bold;
}

@font-face {	/*Used only for the Lil'RoboCo logo.*/
	font-family: LogoFont;
	src: url("../fonts/LRC-Logo.woff2") format("woff2");
}

@font-face {
	font-family: UI-Symbol;	/*Used for UI-symbols like dropdown arrowheads.*/
	src: url("../fonts/IronUI.woff2") format("woff2");
}

