@charset "utf-8";

@import url("font-defs.css");

/*==============================================
	INTERNAL DOCUMENTATION
	-	File: omnistyler.css.
	-	Author: Isaac Nelson Erb.
	-	Date Created: 2024-Sep-20.

	-	Description: This is the main file for
		styling the pages of "isaacerb-cpcc.github
		.io/web115".

	-	Notes:
		-	Nonrelative sizes are generally done in
			millimetres (mm), because metricness and
			precision are both important.
		-	Colors are done by hex-codes, because it's
			a surprisingly simple and intuitive
			system.

	-	Licenses:
		-	Fira Sans and Fira Mono are used here
			within the permissions of the SIL Open
			Font License version 1.1.
==============================================*/

/*======================
	 VARIABLES:
======================*/
:root {
	--text-norm: #9FC;
	--text-highlight: #FD9;
	--text-less-highlight: #DB7;
	--text-more-highlight: #FFF;
	--text-alt: #9CF;
	--body-bg: #112;
	--body-alt-bg: #121;
	--logo-text: #C5F;
	--html-bg: #100;

	--drop-button-y: 0px;
}

/*======================
	PAGE-SECTIONS:
======================*/
div, input, button, ul, ol, figure, img, fieldset {
	box-sizing: border-box;
}

html {
	z-index: 1;

	background-color: var(--html-bg);
	color: var(--text-norm);

	font-family: FiraSans;
	font-size: 14pt;
	line-height: 1.5rem;
	font-variant-numeric: tabular-nums;
}

body {
	background-color: var(--body-bg);
	margin: 10mm auto;

	max-width: 250mm; /*Approx. 10in, ideally.*/
	padding: 10mm;

	border: #FFF 12px ridge;
}

main {
	margin-bottom: 12mm;
}

footer {
	display: grid;
	columns: 2 unset unset;
	position: relative;
	bottom: 0mm;
	margin-top: 8mm;

	font-size: 0.8rem;
	line-height: 1.25rem;

	text-align: center;
}

/*======================
	TEXT-BASED ELEMENTS:
======================*/
/* #page-subtitle {
	font-size: 1.75rem;
	font-weight: normal;
	text-align: center;
	line-height: 2rem;
} */

h1 {
	font-size: 2.7rem;
	text-align: center;
	line-height: 2rem;
}

h2 {
	font-size: 2.3rem;
	text-align: center;
	line-height: 2.5rem;
}

h3 {
	font-size: 1.9rem;
	line-height: 2rem;
	margin-bottom: 0mm;
}

h4 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0mm;
}

h5, h6 {
	font-size: 1rem;
	font-weight: bold;
}

.list-title {
	margin-top: 2mm;
	margin-bottom: 0mm;
	line-height: 1rem;
}

.inlist-heading {
	display: inline;
	font-size: 1em;
}

header nav {
	display: grid;
	columns: 2 minmax(fit-content, 100%) minmax(fit-content, fit-content);
}

nav ul {	/*Main header/footer-links.*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0mm;
}

nav ul li {
	text-align: center;
	font-size: 1.25rem;
	list-style-type: none;
	text-decoration: none;

	padding-left: 2mm; padding-right: 2mm;
}

.content-button {
	font-family: FiraSans;
	display: inline;
	border: 2px solid #FFF;
	border-radius: 6mm;
	background-color: #000;
	color: var(--text-highlight);
}

.drop-content-box .content-button {
	border: none;
	width: 100%;
}

#header-navlinks {
	grid-column: 1; grid-row: 1;
}

#header-navlinks ul {
	justify-content: flex-start;
}

#foot-links {
	grid-row: 1;
	grid-column: span 2;
}

#foot-links ul li {
	font-size: 1.1rem;
	line-height: 2rem;
	padding-bottom: 5mm;
  margin-bottom: -7mm;
}

#logo {
	grid-row: 2; grid-column: 2;
	display: block;
	position: absolute;
	right: 0mm;
	bottom: 2mm;

	font-family: LogoFont;
	font-weight: normal;
	font-size: 28pt;
	margin: auto;

	color: var(--logo-text);
}

#footer-misc {
	grid-row: 2; grid-column: 1;
	text-align: left;
}

li {
	padding-bottom: 4mm;
}

li li:last-child {
	padding-bottom: 0mm;
}

a {
	color: var(--text-highlight);
}

a:not(.footer-link):visited {
	color: var(--text-less-highlight);
}

a:focus, a:hover, a:active {
	color: var(--text-more-highlight);
}

.footer-link {
	text-decoration: none;
}

q::before {content: "\2018";}	/*Single-quotes first, then double-quotes inside of single-quotes.*/
q::after {content: "\2019";}

q q::before {content: "\201c";}
q q::after {content: "\201d";}

q.speech::before {content: "\201c";}
q.speech::after {content: "\201d";}

q.speech q::before {content: "\2018";}
q.speech q::after {content: "\2019";}

figcaption {
	display: block;
	font-size: 0.9rem;
	font-style: italic;
	text-align: center;
	padding-top: 5mm;
	padding-bottom: 5mm;
}

blockquote p {
	padding-top: 0mm;
}

blockquote.attributed p:first-of-type::before {
	content: "\201c";
}
blockquote.attributed p:nth-last-of-type(2)::after {
	content: "\201d";
}
blockquote.attributed p:last-of-type {
	font-style: italic;
}

i em, i b, b i, b em {
	font-weight: bold;
	font-style: italic;
}

.symbol {
	font-family: UI-Symbol;
	color: var(--text-highlight);
}

/*======================
	CODE-STUFF:
======================*/
.code-bg {
	display: block;
	background-color: var(--body-alt-bg);
	color: var(--text-alt);
}

code {
	font-family: FiraMono;
}

.input {
	font-weight: bold;
}

.output::before {
	content: "\00BB\0020"
}

/*======================
	IMAGES:
======================*/
#self-photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

hr {
	color: var(--text-alt);
}

/*======================
	FORM-STUFF:
======================*/
input, button:not(.content-button) {
	display: block;
	color: var(--text-highlight);
	background-color: #000;
	border: 1px solid #FFF;
	padding: 1mm 2mm;
	max-width: 100%;

	font-family: FiraMono;
	font-size: 1rem;
}

/* @media (min-width: 960) {
	input {
		border-width: 2px;
	}
} */

 button:not(.content-button), [type="submit"], [type="button"] {
	color: var(--text-more-highlight);
	margin: auto;
	padding: 2mm 3mm;

	font-size: 1.2rem;
	font-weight: bold;
	border-width: 2px;
}

fieldset {
  border: 1px solid #fff;
  border-bottom: none;
	margin-bottom: -4mm;	/*- Making it so legends don't*/
	padding-bottom: 3mm;	/*	interrupt the border-lines.*/

}

fieldset:last-of-type {
	border-bottom: 1px solid #fff;
	margin-bottom: 2mm;
	padding-bottom: 2mm;
}


fieldset:not(:last-of-type) :last-child {
	margin-bottom: 5mm;	/*Creating adequate spacing between last element in a fieldset and the legend of the next.*/
}

.compact {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.compact div {
	width: 50%;
	padding: 1.5mm;
	border: 1px dotted #FFF;
	margin: -0.5px;
}

fieldset p {
	margin-top: 0mm;
}

.code-out-area {
	display: flex;
	width: 100%;
	padding-top: 4mm;
}

.code-out-area code {
	display: block;
	width: 50%;
}

legend {
	font-size: 1.25rem;
	font-weight: bold;
}

label {
	font-weight: bold;
}

/*======================
	DROPDOWN-MENUS:
======================*/
#header-drops {
	grid-column: 2; grid-row: 1;
}

nav .drop-button {
	font-family: FiraSans;
	font-weight: normal;
	color: var(--text-highlight);
	margin-top: 1.5mm; margin-bottom: 1.5mm;

	width: 100%;
}

.drop-button-box {	/*Outer container; holds buttons. */
	position: relative;
	justify-self: flex-end;
	display: block;
	width: 40mm;
}

.drop-content-box {	/*Menu (<div>) containing the <ul> of links.*/
	display: none;
	position: absolute;
	top: var(--drop-button-y);

	width:100%;
	border: 3px solid #FFF;
	border-top: none;

	background-color: #000;
	z-index: 2;
}

nav .drop-opened {
	border: 3px solid var(--text-alt);
	border-bottom-color: #000;
}

nav .drop-opened + .drop-content-box {
	border-color: var(--text-alt);
}
