@charset "utf-8";

html {
	font-family: Geo;
	font-size: 18pt;

	height: 100%; width: 100%;

	background-color: #097;
	color: #FFF;
}

body {
	box-sizing: border-box;
	width: 18cm;
	height: 10cm;

	border: 7px ridge #80A;
	border-radius: 2mm;
	padding: 3mm;

	background-color: #124;
}

main {
	display: grid;
	height: 80%;
	overflow-y: scroll;
}

main div {
	width: 100%;
}

img {
	width: 80%;
	display: block;
}

#entry {
	grid-area: 1/1/1/1;	/*row-start/col-start/row-end/col-end*/
}

#stats {
	grid-area: 2/1/2/1;
}

#profile {
	grid-area: 1/2/3/2;
}
p, label, td, th, span, button {
	font-size: 1rem;
}

img {
	width: 80%;
	display: block;
}

span {
	display: inline;
}

#types {
	display: block;
	width: 80%;
}

.type-tag {
	background-color: #000;
	border: 2px solid #FFF;
	border-radius: 1mm;
	margin-right: 2mm;
	padding: 1mm 1.5mm;
}

h1 {
	font-size: 2rem;
	text-align: center;
	margin: 2mm;
}

header {
	box-sizing: border-box;
	height: 20%;
}

input {
	display: inline;
	font-family: inherit;
	font-size: 1rem;

	border: 2px solid #FFF;
	border-radius: 1mm;

	background-color: #000;
	color: #FFF;

	max-width: 60%;
	min-width: 40%;
}

button {
	display: inline;

	font-family: inherit;
	font-weight: bold;
	border: 2px solid #FFF;
	border-radius: 3mm;
	background-color: #006;
	color: #FFF;

	min-width: fit-content;
	max-width: 40%;
}

label {
	display: block;
}

/*TABLE-STUFF*/
table {
	height: fit-content;
	min-width: fit-content;
	max-width: 100%;
}

th {
	font-weight: bold;
}