@charset "utf-8";

* {
	font-family: Kanit;
	font-size: 18px;
}

html {
	background-color: #EEE;
}

body {
	min-width: fit-content;
	width: 40%;
	margin: auto;
	border-radius: 1mm;
	border: 3px solid #222;
	background-color: #AAF;
	color: #200;
	padding: 6mm;
}

body * {
	display: block;
	margin-left: auto; margin-right: auto;
  text-align: center;
}

input {
	width: 80%;
}

script {
	display: none;
}